<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ProtectedPermissions">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="com.stevesoltys.seedvault.RESTORE_BACKUP" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SudThemeGlif.DayNight">
        <activity
            android:name="org.grapheneos.setupwizard.view.activity.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SetupWizard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.SETUP_WIZARD" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LocationActivity"
            android:theme="@style/Theme.SetupWizard" />
        <activity
            android:name=".view.activity.SecurityActivity"
            android:theme="@style/Theme.SetupWizard" />
        <activity
            android:name=".view.activity.MigrationActivity"
            android:theme="@style/Theme.SetupWizard" />
        <activity
            android:name=".view.activity.FinishActivity"
            android:theme="@style/Theme.SetupWizard" />
    </application>

</manifest>